parameters:
    level: 6
    tmpDir: /tmp/phpstan.test

    paths:
        - src

    excludePaths:
        - %currentWorkingDirectory%/vendor

    ignoreErrors:
        - identifier: method.unused
          path: src/Kernel.php
